---
import Logo from './Logo.astro';
---

<section class="text-xl text-left px-20 max-w-[60ch] text-pretty mx-auto my-24">
  <Logo class="w-16 text-white m-auto mb-10" />

  <h1
    class="text-4xl font-semibold text-center text-balance mx-auto mb-10 tracking-wide"
  >
    Welcome<br /> to ESLAND awards
  </h1>

  <p>
    Film has the Oscars, music has the Grammys, and <strong>
      streaming has the ESLAND Awards</strong
    >. Awards that celebrate the creativity and talent of the best content
    creators in <strong>the Spanish-speaking community</strong>.
  </p>

  <p>
    Spain, Latin America, and Andorra united by creators, both male and female,
    and their communities, to remember and relive <strong
      >some of the best moments of the year</strong
    >.
  </p>

  <p>
    After two celebrated events, one at the Palau de la Música Catalana in
    Barcelona, and another at the National Auditorium in Mexico City, we can
    only look forward to <strong>the third edition in Andorra</strong>.
  </p>
</section>
